body{
    margin:0; padding:0; font-size:100%; line-height:1;   
    background-color: honeydew;
   
}
   
.bg-image{
    position: relative;
    height: 100%;
    width:100%;
    background-image: url("/ui/bg.jpg");
    background-position: top; 
    background-attachment: fixed;
    background-repeat: no-repeat;
}



