body{
    background-color: honeydew;
    padding:0;
}
   
.bg-image{
    position: relative;
    height: 600px;
    background-image: url("/ui/bg.jpg");
    background-size: auto 600px;
    background-position: top center; 
    background-attachment: fixed;
    background-repeat: no-repeat;
}



