body{
    background-color: honeydew;
}
   
.bg-image{
    position: relative;
    height: 600px;
    background-image: url("bg.jpg");
    background-size: auto 600px;
    background-position: top center; 
}



